body {
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
}

.App-Header {
    height: 60px;
    background-color: rgb(27, 44, 90);
    color: white;
    width: 100%;
}

.App-Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 1000px;
    height: 100%;
}

.App-Navbar {
    width: 100px;
    background-color: rgba(28, 28, 221, 0.87);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 1000px;
    height: 100%;
}

.Nav-Item {
    height: 60px;
    background-color: coral;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Nav-Link {
    width: 100px;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(27, 44, 90);    
}
.Nav-Link:visited {
    background-color: rgb(27, 44, 90);
    border: 1px solid rgba(28, 28, 221, 0.87);
}
.Nav-Item:active {
    background-color: red;
    color: red; 
}


.Nav-Item:hover {
    background-color: yellow;
}

.Main-Content {
    flex: 1;
    background-color: bisque;
}

.screen {
    margin: 10px;
}

.secureRandom-wrapper {
    margin-top: 40px;
}

.secureRandom-content {
    margin-top: 4px;
}